.d-link {
  color: #6ea7ea;
  font-size: 14px;
  line-height: 1.29;
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0.3px;
  text-decoration: none;
  transition: all 0.15s ease-in-out;

  &:active {
    color: #000000;
    transition: all 0.15s ease-in-out;
  }

  &:hover {
    color: #0063da;
    transition: all 0.15s ease-in-out;
  }
}
